<!doctype html>
<html lang="{{ site:short_locale }}" class="h-full">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    {{ seotamic }}
    {{  if website_infos:favicon }}
    <link rel="icon" href="{{ glide src="{{ website_infos:favicon }}" quality="100" width="32" fit="crop_focal"  }}" sizes="32x32">
    {{ /if }}
    <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
    {{ partial src = "stamplate/themes/headerimage/partials/css_variables" }}
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=WeakMap"></script>
</head>
<body class="w-full h-full relative" style="
      {{if website_infos:background_content }} background-color:{{ website_infos:background_content }}; {{/if}}
      {{if website_infos:text_content }} color:{{ website_infos:text_content }}; {{/if}}
">
<main class="w-full h-full flex flex-col relative" id="top">


    {{ partial src = "stamplate/themes/headerimage/partials/headerimages" }}

    <div class="flex-none py-2 custom-breadcrumb">
        <div class="container">
            {{ partial src = "stamplate/themes/headerimage/partials/breadcrumbs" }}
        </div>
    </div>

